.adv__title {
  margin: 0;

  &::before {
    content: "";
    display: block;
    width: 137px;
    height: 106px;
    margin: 20px auto;
  }

  &--fast {
    background-image: url("/img/icon-fast-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  &--master {
    background-image: url("/img/icon-money-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  &--earn {
    background-image: url("/img/icon-bag-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }
}

.adv__desc {
  margin: 0;
  padding: 5% 18%;
}
