.adv {
  display: flex;
  flex-direction: column;
  padding-top: 7%
}

.adv__title {
  margin: 0 0 4%;

  &::before {
    content: "";
    display: block;
    width: 137px;
    height: 77px;
    margin: 0 auto 9%;
  }

  &--fast {
    background-image: url("/img/icon-fast-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  &--master {
    background-image: url("/img/icon-money-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }

  &--earn {
    background-image: url("/img/icon-bag-mobile.png");
    background-repeat: no-repeat;
    background-position: center 30%;
  }
}

.adv__desc {
  margin: 0;
  padding: 0 13% 15%;
}

@media (min-width: $tablet-size) {
  .adv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 11%
  }

  .adv__item {
    width: 25%;
    margin-right: 9%;

    &:nth-child(3) {
      margin-right: 3%;
    }
  }

  .adv__title {
    margin: 0;
    font-size: 16px;

    &::before {
      content: "";
      display: block;
      width: 137px;
      height: 77px;
      margin: 0 0 7%;
    }

    &--fast {
      background-position: left 0;
    }

    &--master {
      background-position: left 15%;
    }

    &--earn {
      background-position: left 15%;
    }
  }

  .adv__desc {
    padding: 0 0 15%;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-size) {
  .adv__item {
    &:nth-child(2) {
      order: 2;
    }
  }
}
