.author {
  position: relative;
  margin-top: 60%;
  margin-bottom: 35%;
  border: 2px solid $second-color;
  padding: 40% 4% 10%;
  background: radial-gradient(at right, #20262d, #0c121a);
}

.author__title {
  padding: 0 0 1%;
  margin: 0;
}

.author__photo-wrap {
  position: absolute;
  width: 65%;
  top: -33%;
  left: calc(50% - 92px);
}

.author__photo {
  width: 100%;
}

.author__name {
  font-size: 20px;
  margin: 0 0 6%;
}

.author__rank {
  font-size: 15px;
  margin-bottom: 14%;
}

.author__text {
  font-size: 17px;
  margin-bottom: 15%;
  line-height: 24px;
  letter-spacing: 0.01em;
}


@media (min-width: $tablet-size) {
  .author {
    margin: 12% 1% 12% 19%;
    padding: 16% 7% 10% 24%;
  }

  .author__photo-wrap {
    width: 49%;
    top: calc(50% - 186px);
    left: -24%;
  }

  .author__name {
    font-size: 28px;
    margin: 0;
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 80%;
      margin: 4% 0 6% -25%;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      position: relative;
    }
  }

  .author__title {
    font-size: 14px;
    padding: 0;
  }

  .author__rank {
    margin-bottom: 6%;;
  }
}
