.author {
  position: relative;
  margin: 59.5% 0 34% 0;
  border: 3px solid $second-color;
  padding: 40% 4% 10%;
  background: radial-gradient(at right, #20262d, #0c121a);
}

.author__title {
  padding: 0 0 1.5%;
  margin: 0;
}

.author__photo-wrap {
  position: absolute;
  width: 66%;
  top: -33%;
  left: calc(50% - 33%);
}

.author__photo {
  width: 100%;
}

.author__name {
  font-size: 20px;
  margin: 0 0 6%;
}

.author__rank {
  font-size: 15px;
  margin-bottom: 14%;
  letter-spacing: 0.05em;
  line-height: 18px;
}

.author__text {
  font-size: 17px;
  margin-bottom: 15%;
  line-height: 24px;
  letter-spacing: 0.01em;
}


@media (min-width: $tablet-size) {
  .author {
    margin: 12% 0 11% 19.5%;
    padding: 16% 5% 10% 23.5%;
  }

  .author__photo-wrap {
    width: 283px; // (49.5%)
    top: calc(50% - 190px); // (50% - 39%)
    left: -24.8%;
  }

  .author__name {
    font-size: 28px;
    letter-spacing: 0.04em;
    margin: 0;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 80%;
      margin: 3.5% 0 5.5% -25%;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      position: relative;
    }
  }

  .author__title {
    font-size: 14px;
    padding: 0;
  }

  .author__rank {
    margin: 0 0 5% 0;
  }
}

@media (min-width: $desktop-size) {
  .author {
    margin: 7.5% 13% 0 25%;
    padding: 12% 5% 9.5% 22.5%;
  }

  .author__rank {
    font-size: 14px;
    letter-spacing: 0.05em;
    margin: 0 0 13% 0;
  }

  .author__photo-wrap {
    width: 51%; // (49.5%)
    top: calc(50% - 40%); // (50% - 39%)
    left: -25.8%;
  }

  .author__name {
    font-size: 40px;

    &::after {
      margin: 1.5% 0 4.3% -25%;
    }
  }

  .author__text {
    font-size: 18px;
    letter-spacing: 0.05em;
  }
}
