.font-subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: $second-color;
}

@media (min-width: $tablet-size) {
  .font-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-size) {
  .font-subtitle {
    font-size: 14px;
    line-height: 25px;
  }
}
