.page {
  min-width: 320px;
  padding: 10% 5% 15%;
  background-image: url("../img/bg-scrin-mobile.png"), url("../img/bg-save-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 6.6%, 0 94.4%;
  //overflow-x: hidden;
}

@media (min-width: $tablet-size) {
  .page {
    width: 750px;
    margin: 0 auto;
    padding: 7.5% 1.7% 15% 1.7%;
    background-image: url("../img/bg-scrin-tablet.png"), url("../img/bg-save-tablet.png");
    background-repeat: no-repeat;
    background-position: 130% 2.3%, 70% 97.5%;
  }
}

@media (min-width: $desktop-size) {
  .page {
    width: 1498px;
    padding: 8% 10% 0 10%;
  }
}
