.promo {
  background-image: url("/img/bg-scrin-mobile.png");
  background-repeat: no-repeat;
  background-position: 48% 80%;
}

.promo__title {
  padding: 11% 0 0;
  margin: 0;
}

.promo__heading {
  font-size: 19px;
  line-height: 30px;
  padding: 4% 0 0;
  margin: 0;
  position: relative;
}

.promo__text {
  width: 100%;
  padding: 3% 3% 0;
  margin: 0;
  line-height: 24px;
}

@media (min-width: $tablet-size) {
  .promo {
    display: grid;
    grid-template-columns: 56% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo logo"
    "description video"
    "request video";
    background-image: url("/img/bg-scrin-tablet.png");
    background-position: 105% 80%;
    background-size: contain;
  }

  .promo__description {
    grid-area: description;
  }
}
