.promo__title {
  padding: 11% 0 0;
  margin: 0;
}

.promo__heading {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 4% 0 0;
  margin: 0 0 0 -5%;
  position: relative;
}

.promo__text {
  width: 100%;
  padding: 3% 3% 0;
  margin: 0;
  line-height: 24px;
}

@media (min-width: $tablet-size) {
  .promo {
    display: grid;
    grid-template-columns: 59% auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo logo"
    "description video"
    "request video";
  }

  .promo__description {
    grid-area: description;
  }

  .promo__title {
    padding: 0;
    font-size: 14px;
  }

  .promo__heading {
    font-size: 28px;
    margin: 0 0 0 -4.2%;
    padding: 3% 0 0;
    letter-spacing: 0.03em;
    line-height: 36px;
  }

  .promo__text {
    padding: 1.5% 3% 1.5% 0;
    letter-spacing: 0.05em;
  }
}
