.promo {
  background-image: url("/img/bg-scrin-mobile.png");
  background-repeat: no-repeat;
  background-position: 48% 80%;
}

.promo__title {
  padding: 37px 0 0;
  margin: 0;
}

.promo__heading {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.01em;
  padding: 22px 0 0;
  margin: 0;
  position: relative;
}

.promo__text {
  width: 100%;
  padding: 0.08% 0.1% 0;
  margin: 0;
  line-height: 24px;
}
