.request {
  width: 100%;
  margin: 13% 0;

  &--footer {
    margin: 5% 0;
  }
}

.request__input {
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  color: #afafaf;
}

.request__button {
  display: block;
  height: 45px;
  color: #ffffff;
  background-color: $second-color;
  font-size: 14px;
  line-height: 41px;
}
