.request {
  width: 100%;
  margin: 4.5% 0;

  &--footer {
    margin: 5% 0;
  }
}

.request__input {
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  color: #afafaf;
}

.request__button {
  display: block;
  width: 100%;
  height: 45px;
  color: #ffffff;
  text-align: center;
  background-color: $second-color;
  font-size: 14px;
  line-height: 45px;
  border: none;

  &:hover {
    background-color: #f7a83a;
  }

  &:active {
    background-color: #db8000;
  }
}

@media (min-width: $tablet-size) {
  .request {
    display: flex;
    width: 57%;
    margin: 6% 0;

    &--footer {
      width: 94%;
      margin: 1% auto 0;
    }

    &--footer .request__input {
      width: 65%;
      border-radius: 0;
    }

    &--footer .request__button {
      width: 35%;
    }
  }

  .request__input {
    height: 54px;
    width: 52%;
    text-align: left;
    padding-left: 4.5%;
  }

  .request__button {
    height: 54px;
    width: 47%;
    line-height: 54px;
  }
}

@media (min-width: $desktop-size) {
  .request {
    width: 50%;
    margin: 4.8% 0 6%;

    &--footer {
      width: 61%;
      padding-right: 3%;
      margin: 1% auto 0;
    }

    &--footer .request__input {
      width: 65%;
      border-radius: 0;
    }

    &--footer .request__button {
      width: 35%;
    }
  }

  .request__input {
    width: 64%;
  }

  .request__button {
    width: 36%;
  }
}
