.skills__title {
  text-align: left;
  padding: 0 10% 5% 1.5%;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.06em;

  &::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 0 0 10% 6%;
    text-align: left;
    background-color: $second-color;
    box-shadow: -20px -15px 0 0 $second-color;
  }
}

.skills__list {
  margin: 8% 0;
  padding: 0 0 0 8.5%;
  //list-style-image: url("../img/cursor.png");
  list-style-type: none;
}

.skills__item {
  height: 100px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0 0 2% 23%;
  text-align: left;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 29px;
    height: 30px;
    top: -2.5%;
    left: 0;
    background-image: url("../img/cursor.png");
  }

  &:nth-child(1) {
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(2) {
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(3) {
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(4) {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(5) {
    background-image: url("../img/5.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }
}


@media (min-width: $tablet-size) {
  .skills__title {
    position: relative;
    font-size: 27px;
    line-height: 36px;
    padding: 9.3% 0 0 0;
    letter-spacing: 0.06em;
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -15%;
    }
  }

  .skills__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 9.5% 0 0 9%;
    width: 95%;
    height: 400px;
  }

  .skills__item {
    width: 50%;
    margin: 0;
    padding: 0 0 2% 9%;

    &::before {
      top: 0;
    }

    &:nth-child(1) {
      background-position-x: 12%;
    }

    &:nth-child(2) {
      background-position-x: 12%;
    }

    &:nth-child(3) {
      background-position-x: 12%;
    }

    &:nth-child(4) {
      background-position-x: 12%;
    }

    &:nth-child(5) {
      background-position-x: 12%;
    }
  }
}

@media (min-width: $desktop-size) {
  .skills {
    width: $desktop-size;
    position: relative;
    left: -12.5%;
    background-image: url("../img/line@1x.png"), url("../img/markings.svg");
    background-repeat: no-repeat;
    background-position: right bottom, center bottom;
  }

  .skills__title {
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.02em;
    padding: 11.5% 0 5% 9.5%;

    &::before {
      top: 41.5%;
      left: 1%;
    }
  }

  .skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 10%;
    position: relative;
  }

  .skills__item {
    position: absolute;
    width: 250px;
    padding: 1% 0 0 1.7%;


    &::before {
      width: 39px;
      height: 40px;
      background-image: url("../img/cursor-desktop.png");
    }

    &:nth-child(1) {
      top: 36%;
      left: 9.6%;
      background-position: 0 -1%;
    }

    &:nth-child(1)::before {
      top: 134%;
      left: 5%;
    }

    &:nth-child(2) {
      top: 15%;
      left: 32%;
      background-position: 0 -1%;
    }

    &:nth-child(2)::before {
      top: 135%;
      left: 0.5%;
    }

    &:nth-child(3) {
      width: 220px;
      top: 39%;
      left: 46.5%;
      background-position: 0 -1%;
    }

    &:nth-child(3)::before {
      top: 143%;
      left: 2.5%;
    }

    &:nth-child(4) {
      top: 14%;
      left: 63.5%;
      background-position: 0 -1%;
    }

    &:nth-child(4)::before {
      top: 126%;
      left: 4.6%;
    }

    &:nth-child(5) {
      top: 6%;
      left: 79.5%;
      background-position: 0 -1%;
    }

    &:nth-child(5)::before {
      top: 95%;
      left: 3%;
    }
  }
}
