.skills__title {
  text-align: left;
  padding: 0 10% 5% 1.5%;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.06em;

  &::before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 0 0 10% 6%;
    text-align: left;
    background-color: $second-color;
    box-shadow: -20px -15px 0 0 $second-color;
  }
}

.skills__list {
  margin: 8% 0;
  padding: 0 0 0 8.5%;
  //list-style-image: url("../img/cursor.png");
  list-style-type: none;
}

.skills__item {
  height: 100px;
  margin: 0;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 0 0 2% 23%;
  text-align: left;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 29px;
    height: 30px;
    top: -2.5%;
    left: 0;
    background-image: url("../img/cursor.png");
  }

  &:nth-child(1) {
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(2) {
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(3) {
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(4) {
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }

  &:nth-child(5) {
    background-image: url("../img/5.png");
    background-repeat: no-repeat;
    background-position-x: 18%;
  }
}


@media (min-width: $tablet-size) {
  .skills__title {
    position: relative;
    font-size: 27px;
    line-height: 36px;
    padding: 9.3% 0 0 0;
    letter-spacing: 0.06em;
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -15%;
    }
  }

  .skills__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 9% 0 0 9%;
    width: 95%;
    height: 400px;
  }

  .skills__item {
    width: 50%;
    margin: 0;
    padding: 0 0 2% 9%;

    &::before {
      top: 0;
    }
  }
}
