.timer {
  padding: 0;
  margin: 0;
}

.timer__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 1.5%;

  &:last-child {
    margin: 0;
  }
}

.timer__offer {
  margin: 7% 0;
}

.timer__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2% 0;
}

.timer__count {
  display: block;
  position: relative;
  font-size: 32px;
  color: #ffffff;

  &::after {
    content: "";
    display: block;
    height: 2px;
    margin: 10% 0 0;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 3px;
    border-radius: 2px;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    box-shadow: 0 10px 0 0 rgba($color: #ffffff, $alpha: 0.1);
    left: -13%;
    top: 30%;
  }

  &--disable {
    opacity: 0.1;
  }
}

.timer__title {
  display: block;
  font-size: 12px;
  height: 40px;
  padding: 5% 0;
  line-height: 23px;
}

@media (min-width: $tablet-size) {
  .timer__offer {
    margin: 5% 0;
  }

  .timer__wrap {
    padding: 5% 6% 5% 4%;
  }

  .timer__count {
    font-size: 60px;
    line-height: 56px;

    &::before {
      height: 5px;
      width: 5px;
      border-radius: 4px;
      box-shadow: 0 25px 0 0 rgba($color: #ffffff, $alpha: 0.1);
      left: -11%;
      top: 23%;
    }

    &::after {
      margin: 12.5% 0 0;
    }
  }

  .timer__title {
    font-size: 16px;
  }
}

@media (min-width: $desktop-size) {
  .timer__offer {
    margin: 0 0 1%;
  }

  .timer__wrap {
    width: 600px;
    margin: 2% auto;
    padding: 5% 5% 0 0;
  }
}
