.timer {
  display: flex;
  justify-content: space-between;
  padding: 5% 0 0;
  margin: 0;
}

.timer__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 1%;
}

.timer__count {
  display: block;
  position: relative;
  font-size: 32px;
  color: #ffffff;

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 3px;
    border-radius: 2px;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    box-shadow: 0 10px 0 0 rgba($color: #ffffff, $alpha: 0.1);
    left: -13%;
    top: 30%;

  }

  &--disable {
    opacity: 0.1;
  }
}

.timer__title {
  display: block;
  font-size: 12px;
  height: 40px;
  padding: 10% 0;
  line-height: 23px;


}
