.video__player-img {
  width: 86%;
  padding: 0;
}

.video-wrap {
  padding: 8%;
}


@media (min-width: $tablet-size) {
  .video-wrap {
    position: absolute;
    top: 8%;
    right: -6%;
    width: 46%;
    margin: 0;
    padding: 11% 0 0 0;
  }
}

@media (min-width: $desktop-size) {
  .video-wrap {
    width: 48.6%;
    margin: 0;
    top: 16%;
    right: -7%;
    padding: 0;
  }
}
